//[app](../../../index.md)/[com.kycdao.android.sdk.kycSession](../index.md)/[KycSession](index.md)/[verificationStatus](verification-status.md)

# verificationStatus

[androidJvm]\
val [verificationStatus](verification-status.md): [VerificationStatus](../../com.kycdao.android.sdk.model/-verification-status/index.md)

- 

The verification status of the user
