//[app](../../../index.md)/[com.kycdao.android.sdk.kycSession](../index.md)/[KycUser](index.md)/[verificationStatus](verification-status.md)

# verificationStatus

[androidJvm]\
fun [verificationStatus](verification-status.md)(): [VerificationStatus](../../com.kycdao.android.sdk.model/-verification-status/index.md)
